<ul class="nav">
    <li><a id="nav-map" href="#">Map</a></li>
    <li><a id="nav-phases" href="#">Phases</a></li>
    <li><a id="nav-reports" href="#">Reports</a></li>
    <li><a id="nav-graphs" href="#">Graphs</a></li>
</ul>
<ul class="nav pull-right">
    <li>
        <form class="navbar-search pull-right" action="">
            <input type="text" class="search-query span2" placeholder="Search">
        </form>
    </li>
    <li class="divider-vertical"></li>
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><b class="icon-cog"></b></a>
        <ul class="dropdown-menu">
            <li><a href="#/settings">Settings</a></li>
            <li class="divider"></li>
            <li><a href="#/reset"> Reset</a></li>
            <li class="divider"></li>
            <li><a id="nav-logout" href="#">Sign Out</a></li>
        </ul>
    </li>
</ul>